.contLeft2{
  width: 95%;
}
.leftleft2 {
  width: 20%;
  font-size: 40px;
}
.leftright2 {
  width: 80%;
  font-size:22px;
}
.leftright2 h6{
  font-size:22px;
}
.modalsheader{
  border-bottom: 0px solid grey !important;
}
.modtop{
  width:90%;
  margin: 0 auto;
  font-size: 17px;
}
.modttopleft {
  width:40%;
}
.modttopright {
  width:60%;
}
.modcenter{
  width:90%;
  margin: 0 auto;
  font-size: 17px;
}
.modtcenterleft{
  width:40%;
}
.modtcentercenter{
  width:35%;
}
.modtcenterright{
  width:25%;
}
.modbottom{
  width:90%;
  margin: 0 auto;
  font-size: 17px;
}
.custom2 {
  
display: inline-block;
text-align: left;
vertical-align: middle;
  width: 100% !important;
margin: auto !important;
}
.custom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom3{
  border-radius: 1.7rem !important;
}
.modal {
text-align: center;
padding: 0!important;
width: 100% !important;
margin: auto !important;
}
.modal:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
margin-right: -4px;
}
.modalheader{
padding: 2.3rem 2.3rem 1.5rem 0.5rem !important;
}
.icon {
  font-size: 22px;
}

.modalButton{
  border: 0 !important;
  background-color: transparent !important;
}

button:focus{
  border: 0 !important;
  background-color: transparent !important;
  outline: 0 !important;
}